asgiref @ file:///home/conda/feedstock_root/build_artifacts/asgiref_1711268871457/work
certifi==2024.8.30
charset-normalizer==3.3.2
Django @ file:///private/var/folders/sy/f16zz6x50xz3113nwtb9bvq00000gp/T/abs_f7lcd0o60_/croot/django_1724964399554/work
idna==3.8
requests==2.32.3
setuptools==72.2.0
sqlparse @ file:///home/conda/feedstock_root/build_artifacts/sqlparse_1721304206023/work
typing_extensions @ file:///home/conda/feedstock_root/build_artifacts/typing_extensions_1717802530399/work
urllib3==2.2.2
wheel==0.44.0
